footer
  .box
    h3 HC Brabo
    p 
      a(href="https://www.facebook.com/hcbrabo/") facebook
    p 	© 2016 HC Brabo - Jordy Pereira
  .box
    p Salesianenlaan 90, 2660 Hoboken
    p Antwerpen
    +brabomail("info@hcbrabo.be","info")
  
