section#lied
  .title
    h1 Clublied Brabo
  .lied
    .box
      p
        | Wij zijn KIHA-studenten, op Don Bosco soms bijeen.
        br
        |                     Maar is het school gedaan, gaan wij daarom nog niet uiteen.
        br
        |                     Den blokker met of zonder buis gaat niet altijd direct naar huis,
        br
        |                     want bij rood en wit en zwart voelt men zich thuis.
      p
        | Kwam ‘t studeren uit uw oren en werd ge daardoor geflest.
        br
        |                     Loop niet achter de professoren want dan wordt ge weggepest.
        br
        |                     Maar schep bij BRABO nieuwe moed, een club die grote wonderen doet,
        br
        |                     want bij rood en wit en zwart daar zit ge goed.
      p
        | We bezoeken graag een cantus en we missen geen T.D,
        br
        |                     want de porren van de club die vallen allemaal goed mee.
        br
        |                     De avond wordt een waar festijn, dus zijn we blij van lid te zijn,
        br
        |                     want bij rood en wit en zwart daar is het fijn.
      p
        | En is ‘t studeren afgelopen, zit ‘t diploma in de zak.
        br
        |                     Hebt g’uw laatste pint gezopen en uw liefke meegepakt.
        br
        |                     Van dan af gaat het bergaf, maar zingen kan er nog vanaf,
        br
        |                     want dat rood wit zwart neemt ge mee tot in uw graf.
