nav
  a.ham(href="#") menu
  .navbar
    a.logo(href="index.html") HC Brabo
    .nav-items
      a(href="about.html") About
      a(href="#") Calendar
      a(href="events.html") Events
      a(href="webshop.html") Webshop
      a(href="#") Contact
      a(href="sponsors.html") Sponsors
      a(href="#") Login
