nav
  #navbar-mob
    a(href="index.html") Home
    a(href="about.html") About
    a(href="about.html#praes") Praesidium
    a(href="about.html#pros") Pro-Senioren
    a(href="about.html#lied") Clublied
    a(href="about.html#gesch") Geschiedenis
    a(href="events.html") Kalender
    //- a(href="events.html") Evenementen
    a(href="webshop.html") Webshop
    a(href="contact.html") Contact
    a(href="sponsors.html") Sponsors
    a(href="#") Lid Worden
    a(href="#") Login
    a#ham menu
  .navbar
    a.logo(href="index.html") HC Brabo
    .nav-items
      a(href="about.html") About
      a(href="events.html") Kalender
      //- a(href="events.html") Evenementen
      a(href="webshop.html") Webshop
      a(href="contact.html") Contact
      a(href="sponsors.html") Sponsors
      a(href="#") Lid Worden
      a(href="#") Login
