section#praes
  .title
    h1 Praesidium 2016-2017
    .leden
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Vice-Praeses", "Douwe", "Ruppert", "lust wel een pintje")
      +lid("Vice-Praeses", "Lauren", "Stoffels", "lust wel een pintje")
      +lid("Quaestor", "Kimberly", "Morren", "lust wel een pintje")
      +lid("Ab-actis", "Roebe", "Kools", "lust wel een pintje")
      +lid("Cantor", "Jonathan", "Peeters", "lust wel een pintje")
      +lid("Mentor", "Lander", "Breugelmans", "lust wel een pintje")
      +lid("Schachtenmeester", "Lander", "Van de Cruys", "lust wel een pintje", "Lander2")
      +lid("Schachtentemmer", "Sam", "Maes", "lust wel een pintje")
      +lid("Schachtentemmer", "Leen", "Peeters", "lust wel een pintje")
      +lid("PR", "Kiani", "Baestians", "lust wel een pintje")
      +lid("Sport", "Mathias", "Smet", "lust wel een pintje")
      +lid("C & O", "Isis", "Vergucht", "lust wel een pintje")
      +lid("Feestleider", "Ben", "De Block", "lust wel een pintje")
      +lid("Scriptor", "Witse", "Van der Donck", "lust wel een pintje")
      +lid("Webmaster", "Jordy", "Pereira", "lust wel een pintje")
