section#praes
  .title
    h1 Praesidium 2016-2017
    .leden
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
      +lid("Praeses", "Nikolas", "Bruinsma", "lust wel een pintje")
