section#pros
  .title
    h1 Pro Senioren Brabo
  .lijst
    .box
      p 1960-1961: Guido Robbroeckx
      p 1961-1962: Guido Robbroeckx
      p 1962-1963: Ivo De Coster (†)
      p 1963-1964: Ivo Coster (†)
      p 1964-1965: Frans Meert (†)
      p 1982-1983: Eric Vandezande (†)
      p 1965-1966: Harrie Van Camp
      p 1966-1967: Hugo Van Deuren
      p 1967-1968: Jan Stoffelen
      p 1968-1969: Michel Boelaerts
      p 1969-1970: François Pittoors
      p 1970-1971: Eddy Williame
      p 1971-1972: Paul Aerts
      p 1972-1973: Rob Dewulf
      p 1973-1974: Steven Bongaerts
      p 1974-1975: Fred Malingie
      p 1975-1976: Jan Van Loo
      p 1976-1977: Rik Muts
      p 1977-1978: Stefan Van Goethem (†)
      p 1978-1979: Stefan Van Goethem (†)
      p 1979-1980: Johny Poelmans
      p 1980-1981: Marc Thys
      p 1981-1982: Peter Sommer (†)
      p 1983-1984: Lieven Schoonbaert
      p 1984-1985: Michaël Magnus
      p 1985-1986: Peter Bruggeman
      p 1986-1987: Johan De Poorter
      p 1987-1988: Peter Zegels
      p 1988-1989: Wim Malfait
      p 1989-1990: Raf Van Kerckhoven
      p 1990-1991: Johan De Groof
      p 1991-1992: Jan Mertens
      p 1992-1993: Mohammed Alloul
      p 1993-1994: Yves Gazin
      p 1994-1995: Kevin de Rop
      p 1995-1996: Christian Klose
      p 1996-1997: Erik Schuerwegh
      p 1997-1998: Serge De Ruysscher
      p 1998-1999: Karen Mulders
      p 1999-2000: Joost Caris (†)
      p 2000-2001: Wim Kersemans
      p 2001-2002: Bob De Maeijer
      p 2002-2003: Wim Garmyn
      p 2003-2004: Gerrit Vertez
      p 2004-2005: Kurt Breugelmans
      p 2005-2006: Cis Fransen
      p 2006-2007: Koen Vrijsen
      p 2007-2008: Philippe Coninx
      p 2008-2009: Tim Van Raemdonck
      p 2009-2010: Timmy Gilissen
      p 2010-2011: Yves Smet
      p 2011-2012: Jasper Hoppenbrouwers
      p 2012-2013: Jonathan Peeters
      p 2013-2014: Jonathan Peeters
      p 2014-2015: Olivier Van Hoornyck
      p 2015-2016: Lander Breugelmans
