extends partials/layout

block content
    section.about
      .title
        h1 Welkom. <span>Beste Commilitones, sympathisanten en nieuwe leden!</span>
      .intro
        p Voor diegene die het nog niet wisten, wij zijn de studentenclub Brabo, wij vertegenwoordigen de Ingenieurs van de UA en de richtingen van IWT van KdG in het studentenleven.
        p Wij gaan voor de 56ste keer op rij een bangelijk jaar voor onze leden bezorgen. Je vindt al onze activiteiten in onze kalender en op facebook. 
        p Bij rood en wit en zwart voelt men zich thuis
        p Dixit, Patron Niko <br>Praeses 2016-2017
      .links
        a(href="#") Praesidium
        a(href="#") Pro-Senioren
        a(href="#") Clublied
        a(href="#") Geschiedenis
      section#praes
        .title
          h1 Praesidium 2016-2017
