extends partials/layout

block config
  - var pageTitle = "HC Brabo - Events"
block content
  section.events
    h1 Events
    .evenementen
      +event("scht", "Schachtenconvent", "28 September 2016", "Den Aalmoezenier", "De eerste cantus met de nieuwe Schachtjes")
      +event("verk", "Verkoop", "04 Oktober 2016", "Den Aalmoezenier", "We verkopen de schachtjes dit jaar voor 2 weken!")
