<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="main.js"></script>
  <title>HC Brabo</title>
</head>
<body>
  .container
    nav
      a.ham menu
      .navbar
        a.logo href="#" HC Brabo
        .nav-items
          a href="about.html" About
          a href="#" Calendar
          a href="#" Contact
          a href="#" Login or not
    section.home
      .title
        h1 <span>HC</span> Brabo 3
        h2 <span>De studentenclub</span> op Campus Hoboken
      .events
        h1 Evenementen:
        .event1
          <img src="../images/td1.jpg" alt="event1">
        .event2
          <img src="../images/td1.jpg" alt="event1">

</body>
</html>
