extends partials/_layout
block config
  - var pageTitle = "Test page"
block content
    section.home
      .head
        .title
          h1 <span>HC</span> Brabo
          h2 <span>De studentenclub</span> op Campus Hoboken
        .links
          a(href="about.html#praes") Page 1
          a(href="webshop.html") Page 2
      .events
        h1 Events
        img(src="http://www.placehold.it/400x500", alt="")
