extends partials/layout
block config
  - var pageTitle = "HC Brabo - Home"
block content
    section.home
      .title
        h1 <span>HC</span> Brabo
        h2 <span>De studentenclub</span> op Campus Hoboken
      .events
        h1 Evenementen:
        .event1
          img(src="../images/td1.jpg" alt="event1")
        .event2
          img(src="../images/td1.jpg" alt="event1")
