extends partials/layout
block config
  - var pageTitle = "HC Brabo - Home"
block content
    section.home
      .title
        h1 <span>HC</span> Brabo
        h2 <span>De studentenclub</span> op Campus Hoboken
      .events
        .fb-root
          <div class="fb-page" data-href="https://www.facebook.com/hcbrabo/" data-tabs="events" data-width="400" data-height="700" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/hcbrabo/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/hcbrabo/">HC Brabo</a></blockquote></div>
