extends partials/_layout

block config
  - var pageTitle = "HC Brabo - Sponsors"
block content
  section#sponsors
    h1 Sponsors
    .sponsors
      +sponsor("stuvo", "Kdg Stuvo", "")
      +sponsor("skiworld", "Ski dinges", "")
      +sponsor("da_giovanni", "Da Giovanni", "Pizza!")
      +sponsor("stuvo", "Kdg Stuvo", "")
      +sponsor("skiworld", "Ski dinges", "")
      +sponsor("da_giovanni", "Da Giovanni", "Pizza!")
      +sponsor("stuvo", "Kdg Stuvo", "")
      +sponsor("skiworld", "Ski dinges", "")
      +sponsor("da_giovanni", "Da Giovanni", "Pizza!")
