extends partials/layout

block config
  - var pageTitle = "HC Brabo - Webshop"
  - var image = "product"
block content
  section#webshop
    .title
      h1 Webshop
    .products
      +product("Hamer", 1, "20")
      +product("Petje", 2, "50")
      +product("Hamer", 1, "20")
      +product("Petje", 2, "50")
      +product("Hamer", 1, "20")
      +product("Petje", 2, "50")
      +product("Hamer", 1, "20")
      +product("Petje", 2, "50")
      +product("Hamer", 1, "20")
      +product("Petje", 2, "50")
      +product("Hamer", 1, "20")
      +product("Petje", 2, "50")
      +product("Hamer", 1, "20")
      +product("Petje", 2, "50")
