extends partials/layout

block config
  - var pageTitle = "HC Brabo - Webshop"
  - var image = "product"
block content
  section#webshop
    .title
      h1 Webshop
    .products
      +product("Codex", 2, "10")
      +product("Een Brabo Mok", 1, "15")
      +product("Rode Codex", 1, "5")
      +product("Bierpetje", 2, "8")
      +product("Sticker", 1, "0.5")
      +product("Zilveren Pin", 2, "1")
      +product("Goude Pin", 1, "2")
      +product("Praesidium Pin", 2, "5")
      +product("Opstrijk Sticker", 1, "5")
      +product("Trui", 2, "20")
      +product("Vest", 1, "25")
