extends partials/_layout

block config
  - var pageTitle = "HC Brabo - Webshop"
block content
  section#webshop
    .title
      h1 Webshop
    .content
      .textblock
        h2 Make an order!
        form(name="mail", onsubmit="return false;", method="post")
          input(type="text", name="name" placeholder="Name ..." required)
          input(type="email", name="email" placeholder="E-mail ..." required)
          input(type="textarea", name="text" placeholder="Message ..." required)
          input(type="submit", value="Send")
      .products
        +product("Codex", "codex", "10")
        +product("Rode Codex", "rodecodex", "5")
        +product("Een Brabo Mok", "mok", "15")
        +product("Bierpetje", "pet", "8")
        +product("Sticker", "sticker", "0.5")
        +product("Zilveren Pin", "zpin", "1")
        +product("Gouden Pin", "gpin", "2")
        +product("Praesidium Pin", "ppin", "5")
        +product("Opstrijk Sticker", "strijksticker", "5")
        +product("Trui", "trui", "20")
        +product("Vest", "vest", "25")
